---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to my personal website'>
  <h1 class='text-9xl text-center'>My supercool website! 🔥</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor doloribus
    deleniti praesentium itaque animi porro fugiat accusamus culpa sequi saepe!
  </p>
</Layout>
